.local-nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background: var(--white-6-op-3);
    backdrop-filter: var(--backdrop-filter);
    font-family: 'Sushant', 'Manrope', sans-serif;
    color: var(--black-2);
    min-width: 320px;
    z-index: 9999;
}

.local-nav-wrapper {
    min-height: 53.88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

/* Topic */

.local-nav-topic-anchor {
    display: flex;
    align-items: center;
    color: var(--black-2);
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
}

.local-nav-topic-text {
    font-family: 'Sushant', 'Manrope', sans-serif;
    font-size: 19px;
    letter-spacing: 0.5px;
}

/* icons */
.local-nav-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.local-nav-icon-wrapper {
    padding: 5px 15px;
}

.icon-hover {
    width: 19px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

.icon-hover:hover {
    opacity: 1;
}

/* local side nav */
.local-side-nav {
    max-width: 340px;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0px;
    padding: 10px;
}

.local-side-nav-wrapper {
    background: var(--white-4-op-4);
    backdrop-filter: var(--backdrop-filter);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}

.local-side-nav-heading-wrapper {
    padding: 10px 10px 15px 10px;
    text-align: center;
    border-bottom: 1px solid var(--white-14);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.local-side-nav-heading {
    font-size: 24px;
    font-family: 'Sushant', 'Manrope', sans-serif;
    font-weight: 600;
}
.local-side-nav-icon-wrapper{
    width: 19px;
    display: none;
}

@media screen and (max-width: 500px) {
    .local-side-nav-icon-wrapper{
        display: block;
    }
    .local-nav-search-icon-wrapper{
        display: none;
    }
}

.local-side-nav-links-wrapper {
    padding: 15px 5px 5px 5px;
    height: 100%;
}

.local-side-nav-links {
    overflow-y: scroll;
    height: calc(100% - 58px);
    padding: 5px;
}

.local-side-nav-link-wrapper {
    border-bottom: 1px solid var(--white-12);
    padding: 5px;
}

.local-side-nav-link-wrapper:last-of-type {
    border-bottom: none;
}

.local-side-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.local-side-nav-links a {
    color: var(--apple-link);
    text-decoration: none;
    font-family: 'Sushant', 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.local-side-nav-link-sub-links-button-wrapper {
    width: 44px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local-side-nav-link-sub-links-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.local-side-nav-link-sub-links-button-line {
    background: var(--black-6);
    height: 1px;
    width: 12px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.local-side-nav-link-sub-links-button-line:nth-of-type(1) {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform-origin: right;
}

.local-side-nav-link-sub-links-button-line:nth-of-type(2) {
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform-origin: left;
}

.local-side-nav-link-sub-links-button-line.side-nav-sublink-active:nth-of-type(1) {
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform-origin: right;
}

.local-side-nav-link-sub-links-button-line.side-nav-sublink-active:nth-of-type(2) {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform-origin: left;
}


/* sublinks */
.local-side-nav-link-sublinks-wrapper {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.local-side-nav-link-sublinks-wrapper.side-nav-sublink-active {
    /* overflow: auto; */
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.local-side-nav-link-sublinks {
    background-color: var(--white-3-op-4);
    box-shadow: 0px 2px 10px var(--white-10-op);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin: 5px 5px 5px 10px;
}

.local-side-nav-link-sublinks a {
    padding: 5px 10px;
    font-size: 18px;
}

.local-side-nav-link-sublinks-anchor-wrapper {
    padding: 5px;
    border-bottom: 1px solid var(--white-10);
    margin: 0px 10px;
}

.local-side-nav-link-sublinks-anchor-wrapper:last-of-type {
    border-bottom: none;
}

/* local nav hamburger wrapper */
.local-nav-hamburger-wrapper {
    height: 50px;
    width: fit-content;
    padding: 0px 0px 0px 15px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

.local-nav-hamburger-wrapper:hover {
    opacity: 1;
}

.local-nav-hamburger {
    height: 21px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.local-nav-hamburger-text {
    padding: 0px 10px;
}

.local-nav-hamburger-text-span {
    display: block;
    font-weight: 500;
    position: relative;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    font-size: 15px;
    font-family: 'Sushant', 'Manrope', sans-serif;
}
.local-nav-hamburger-text-span.awesome-sushant {
    display: block;
    font-weight: 500;
    opacity: 1;
}
.local-nav-hamburger-text-span-topic{
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
.local-nav-hamburger-text-span-hide{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.local-nav-hamburger-bread-crust {
    width: 100%;
    height: 2px;
    background: var(--black-4);
    transform-origin: center;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-property: transform, top;
    transition-duration: 0.2s, 0.15s;
    transition-delay: 0s, 0.19s;
    transition-timing-function: ease-in-out;
}

.local-nav-hamburger-bread-crust-top {
    top: -3px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.local-nav-hamburger-bread-crust-middle {
    opacity: 1;
    transition: opacity 0s ease-in-out 0.15s;
    -webkit-transition: opacity 0s ease-in-out 0.15s;
    -moz-transition: opacity 0s ease-in-out 0.15s;
    -ms-transition: opacity 0s ease-in-out 0.15s;
    -o-transition: opacity 0s ease-in-out 0.15s;
}

.local-nav-hamburger-bread-crust-bottom {
    top: 3px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.local-nav-hamburger-bread-crust.awesome-sushant {
    transform-origin: center;
    transition-property: top, transform;
    transition-duration: 0.15s, 0.2s;
    transition-delay: 0s, 0.14s;
    transition-timing-function: ease-in-out;
}

.local-nav-hamburger-bread-crust-top.awesome-sushant {
    top: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.local-nav-hamburger-bread-crust-middle.awesome-sushant {
    opacity: 0;
    transition: opacity 0s ease-in-out 0.2s;
    -webkit-transition: opacity 0s ease-in-out 0.2s;
    -moz-transition: opacity 0s ease-in-out 0.2s;
    -ms-transition: opacity 0s ease-in-out 0.2s;
    -o-transition: opacity 0s ease-in-out 0.2s;
}

.local-nav-hamburger-bread-crust-bottom.awesome-sushant {
    top: -2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

@media screen and (max-width: 1100px) {
    .local-nav-hamburger-wrapper {
        display: flex;
    }

    .local-side-nav {
        z-index: 9999;
        transform: translateX(-105%);
        -webkit-transform: translateX(-105%);
        -moz-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        -o-transform: translateX(-105%);
        transition: transform 0.4s ease-in-out;
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out;
        -ms-transition: transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;
    }
    .local-side-nav-wrapper{
        box-shadow: 0px 0px 20px var(--white-10);
        backdrop-filter: var(--backdrop-filter);
    }

    .local-side-nav.awesome-sushant {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    .local-nav-topic {
        position: absolute;
        right: 0px;
        left: 0px;
        width: fit-content;
        margin: auto;
        padding: 10px 20px;
    }

    .local-nav-icons-wrapper {
        position: absolute;
        right: 10px;
    }
}
@media screen and (max-width: 335px) {
    .local-nav-hamburger-text{
        display: none;
    }
}