

.local-side-nav-links::-webkit-scrollbar { width: 8px; height: 8px;} 
.local-side-nav-links::-webkit-scrollbar-thumb { background: rgb(201, 201, 201); border-radius: 5px 5px 4px 4px;}
.local-side-nav-links::-webkit-scrollbar-thumb:hover { background: rgb(187, 187, 187);}
.local-side-nav-links::-webkit-scrollbar-thumb:active { background: rgb(170, 170, 170);}
.local-side-nav-links::-webkit-scrollbar-track { background-color: transparent; margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}

.all-container ::-webkit-scrollbar { width: 8px; height: 8px;} 
.all-container ::-webkit-scrollbar-thumb { background: rgb(201, 201, 201); border-radius: 5px 5px 4px 4px;}
.all-container ::-webkit-scrollbar-thumb:hover { background: rgb(187, 187, 187);}
.all-container ::-webkit-scrollbar-thumb:active { background: rgb(170, 170, 170);}
.all-container ::-webkit-scrollbar-track { background-color: transparent; margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}
