:root{
    --link-color: #0066cc;
    --page-nav-filter: saturate(180%) blur(20px);
    --page-nav-bac-color: rgba(255, 255, 255, 0.752);
    --page-nav-bac-color-white: rgba(255,255,255,0.72);
    --local-nav-font-color: rgb(31, 31, 31);
    --local-side-nav-heading-border: 1px solid rgb(207, 207, 207);
    --local-side-nav-links-border: 1px solid rgb(227, 227, 227);
    --local-side-nav-wrapper-back: rgb(247, 250, 251);
    --local-side-nav-wrapper-box-shadow: 2px 2px 10px rgb(201, 201, 201);

    --search-background-color:rgba(96, 96, 96, 0.6);
    --py-site-search-box-bac-color: rgb(242, 244, 246);
    --search-outline: 1px solid rgb(196, 196, 196);
    --result-border: 1px solid rgb(153, 153, 153);
    --search-result-back: rgb(232, 234, 236);
}

html{
    --local-font-color-light: rgb(31, 31, 31);
    --local-font-color-dark: rgb(24, 24, 24);
    --local-link-color: #06c;
    --local-white: rgb(255, 255, 255);
    --local-black: rgb(0, 0, 0);
    --local-white-1: rgb(254, 254, 254);
    --local-white-2: rgb(247, 250, 251);
    --local-white-3: rgb(242, 244, 246);
    --local-white-4: rgb(237, 241, 246);
    --local-white-5: rgb(226, 232, 240);
    --local-white-top: rgb(254, 254, 254);
    --local-white-middle: rgb(247, 250, 251);
    --local-white-bottom: rgb(237, 241, 246);

    /* shadows */
    --local-box-shadow-1: 2px 2px 20px rgb(201, 201, 201);
}

.local-side-nav-links::-webkit-scrollbar { width: 8px; height: 8px;} 
.local-side-nav-links::-webkit-scrollbar-thumb { background: rgb(201, 201, 201); border-radius: 5px 5px 4px 4px;}
.local-side-nav-links::-webkit-scrollbar-thumb:hover { background: rgb(187, 187, 187);}
.local-side-nav-links::-webkit-scrollbar-thumb:active { background: rgb(170, 170, 170);}
.local-side-nav-links::-webkit-scrollbar-track { background-color: transparent; margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}

.all-container ::-webkit-scrollbar { width: 8px; height: 8px;} 
.all-container ::-webkit-scrollbar-thumb { background: rgb(201, 201, 201); border-radius: 5px 5px 4px 4px;}
.all-container ::-webkit-scrollbar-thumb:hover { background: rgb(187, 187, 187);}
.all-container ::-webkit-scrollbar-thumb:active { background: rgb(170, 170, 170);}
.all-container ::-webkit-scrollbar-track { background-color: transparent; margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}
