@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-BlackItalic.woff2') format('woff2'),
        url('mono/MonoLisa-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-Bold.woff2') format('woff2'),
        url('mono/MonoLisa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-ExtraLight.woff2') format('woff2'),
        url('mono/MonoLisa-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-BoldItalic.woff2') format('woff2'),
        url('mono/MonoLisa-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-Medium.woff2') format('woff2'),
        url('mono/MonoLisa-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-LightItalic.woff2') format('woff2'),
        url('mono/MonoLisa-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa-RegularItalic';
    src: url('mono/MonoLisa-RegularItalic.woff2') format('woff2'),
        url('mono/MonoLisa-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-ExtraLightItalic.woff2') format('woff2'),
        url('mono/MonoLisa-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-MediumItalic.woff2') format('woff2'),
        url('mono/MonoLisa-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-Light.woff2') format('woff2'),
        url('mono/MonoLisa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-Thin.woff2') format('woff2'),
        url('mono/MonoLisa-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-Regular.woff2') format('woff2'),
        url('mono/MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-ThinItalic.woff2') format('woff2'),
        url('mono/MonoLisa-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('mono/MonoLisa-Black.woff2') format('woff2'),
        url('mono/MonoLisa-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

